// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = DSH Pocket Worker

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = top.rwecho.deepseek-harness-pocket.desktop

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 掌鲸 DSH Pocket. All rights reserved.
